@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #1f2937;
}

body::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 10px;
}
